.OurcourseSection {
  margin-top: 4rem;
}
.courseContainer1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.TextContainer {
  width: 70%;
}
.TextContainer p {
  margin-top: 1rem;
}
.courses_btn {
  margin-top: 1rem;
}
.courses_btn button {
  outline: none;
  border: none;
  padding: 0.5rem 1.2rem;
  background-color: #ffffff;
  cursor: pointer;
}
.courses_btn button:hover {
  background-color: #ff9500;
  border-radius: 0.3rem;
  color: #ffffff;
}

.ItemsContainer {
  /* border: 2px solid; */
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.ItemsContainer .Card {
  background: #ffffff;
  width: 560px;
  /* margin: auto 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}
.ItemsContainer .Card .cardContainer {
  width: 450px;
}

.ItemsContainer .Card .cardContainer img {
  width: 100%;
}

.card_subcontainer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.subContainer_Container {
  display: flex;
  gap: 10px;
}
.subContainer_Container p {
  border: 1px solid #f1f1f3;

  padding: 8px 14px 8px 14px;
  border-radius: 6px;
}
.subContainer_Container h4 {
  margin: 0px auto;
}
.Card .CardTextContainer h3 {
  margin: 0.7rem 0px;
}
.card_btn button {
  outline: none;
  border: none;
  width: 450px;

  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width: 866px) {
  .courseContainer1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .TextContainer {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  .ItemsContainer .Card {
    background: #ffffff;
    width: 357px;
    /* margin: auto 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    /* margin: 0.5rem; */
  }
  .card_btn button {
    outline: none;
    border: none;
    width: 300px;
    border-radius: 6px;
    cursor: pointer;
  }
  .ItemsContainer .Card .cardContainer {
    width: 300px;
  }
  .card_subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
